:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .giftlist {
    margin-bottom: 50px;
  }

  .opening {
    font-size: 1.5em;
    color: #b71c1c;
  }

  .giver,
  .receiver {
    color: #1b5e20;
    font-weight: 700;
  }
}
